<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Proyecto de realizacion en diseño web"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1 maximum-scale=1"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/catalog-style.css">
	<link rel="favicon" href="/images/logo_pequeño.png"/>
	<script src="https://parall.ax/parallax/js/jspdf.js"></script>
	<script type="text/javascript" src="/javascripts/qrcode.js"></script>
	<link rel="icon" type="image/png" href="/images/logo_pequeño.png"/>
	<title>Inicio de sesión</title>
</head>
<body>
	<header>
	<figure id="logo">
		<img src="/images/logo_pequeño.png"/>
	</figure>
	<h1>
		Duccato
	</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Cotizador</a></li>
			<li><a href="#">Empresas</a></li>
			<li><a href="/galery">Conocenos</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>	
	</nav>
	<section id="texto">
			<form id="login" action="/admin/login" name="login" method="post">
				<h2>Inicie sesión</h2>
				Usuario: <input type="text" name="userName" class="textarea">
				<br>
				<br>
				Contraseña: <input type="password" name="userPassword" class="textarea">
				<br>
				<br>
				<br>
				<input type="submit" name="log_in" value="Iniciar" class="buttons">
			</form>
	</section>
</body>	
</html>