<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pruebas locas</title>
    <link href='/stylesheets/ideal-image-slider.css' rel='stylesheet'  type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/catalog-style.css">
</head>
<body>
    <header>
    <figure id="logo">
        <img src="/images/logo_pequeño.png"/>
    </figure>
    <h1>
        Duccato
    </h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Cotizador</a></li>
            <li><a href="#">Empresas</a></li>
            <li><a href="/galery">Conocenos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>   
    </nav>
    <section id="content">
        <h2>Conocenos</h2>
        <div id="slider">
        </div>
        <div class="div2" id="div2">
            <p>SOMOS una empresa que diseña y produce muebles de calidad a un precio accesible, distribuyéndolos a través de una red de seleccionados mayoristas en la ciudad de Guadalajara, Jalisco.</p>

            <p>Seleccionamos materiales naturales para la fabricación de cubiertas de mármol y madera ofreciendo variedad en diseños y tamaños que se ajustan a las necesidades de nuestros clientes.</p>

            <p>Nuestro Concepto es proponer nuevos estilos que se adapten a las tendencias del mercado, dando una alternativa de buen gusto a un precio accesible para todos nuestros compradores.</p>

            <p>Nuestra Misión consiste en ofrecer muebles contemporáneos de calidad para satisfacer las necesidades particulares de nuestros clientes, contribuyendo a la creación de espacios modernos que se adecúen a cada hogar.</p>

            <p>Nuestra Visión es ser la empresa líder en fabricación de muebles de mármol y madera en la Zona Metropolitana de Guadalajara, ofreciendo excelentes acabados, nuevos diseños y buen precio.</p>

            <p>Nuestros Valores: calidad, responsabilidad, compromiso y trabajo en equipo.</p>
        </div>        
    </section>
    <footer>
        <p>Desarrollado por Developsoft</p>
    </footer>
</body>
<script type="text/javascript" src='https://c79a7186c6047f3d0017790f11c7ecf4d8806b82.googledrive.com/host/0B813TTfOkkZEUktKTkVSUUdxQ2s'></script>
<script type="text/javascript" src='https://bd5f7a955979ed0751e48d4a1a8202ad8fbd9be4.googledrive.com/host/0B813TTfOkkZELUIyd0JoRlVrb28'></script>
</html>
