<html>
	<head>
		<title>Tests</title>
		<meta http-equiv="X-UA-Compatible" content="IE=9">
	</head>
	<link rel="stylesheet" type="text/css" href="http://wilfredoivanhoe.github.io/nodetest/views/catalog-style.css">
	<body>
		<div id='container-catalog'>
			<div id='wrapper-menu'>
				<div id='wrapper-objects'>
					<h2>Objetos</h2>
					<ul id='objects'>
						<li>
							<a href="#" id='grumpy_lucy'>Grumpy lucy</a>
						</li>
					</ul>
				</div>

				<ul id='child-objects'>
					<li>

					</li>
				</ul>
				<ul>
					<li id='textures'>

					</li>
				</ul>
			</div>
			<div id='wrapper-canvas'>
			</div>
		</div>	
	</body>
	<script type="text/javascript">
		function loadObjects(parentName){
			var objects=document.getElementById('objects');
			var childs=document.getElementById('child-objects');
			var textures=document.getElementById('textures');

			/**Database logic
			*
			*nwn
			*	
			**/

		}
		function createCanvas(furniture){
			var wrapper=document.getElementById('wrapper-canvas');
			var parentCanvas=document.createElement('canvas');
			parentCanvas.id=furniture.parent.name;
			wrapper.appendChild(parentCanvas);
			var objects=[];
			for(var i=0;i<furniture.objects.length;i++){
				objects[i]=document.createElement('canvas');
				objects[i].id=furniture.objects[i].name;
				wrapper.appendChild(objects[i]);
			}
		}
		function getArrays(parentName){
			/**Database logic
			*
			*kawaii
			*	
			**/
			var furniture={};
			//MODO TEMPORAL
			var parentArray={
				'img':{'ObjectID':'1', 'name' :'grumpy_lucy', 'url' : './lucy_alpha.png' , 'z_index':0},
				'storeData':{'ObjectID':'ObjectID', 'name':'String', 'barcode' : 'String', 'price': 0.00,'description':'Descripción'}
			};
			var childArray={};
			var texturesArray={				
				'img':[
					{'ObjectID':'ObjectID', 'name' : 'mota', 'url': './mota.jpg', 'parent' : 'grumpy_lucy'}
				]
			};
			switch(parentName){
				case 'grumpy_lucy':
					furniture={
						'parent':{'ObjectID':parentArray.img.ObjectID,'name':parentArray.img.name, 'url':parentArray.img.url,'z_index':parentArray.img.z_index,'barcode':parentArray.storeData.barcode,'price':parentArray.img.price,'description':parentArray.storeData.description},
						'objects':[
						],
						'textures':[
							{'ObjectID':texturesArray.img[0].ObjectID,'name':texturesArray.img[0].name,'url':texturesArray.img[0].url,'parent':texturesArray.img[0].parent}
						]
					};
					return furniture;
					break;
			}
		}
		function drawObject(imgObject){
			//objectSchema ={canvasName:String,texture : Img, object : Img}//
			console.log(imgObject.canvasName);
			var ctx=document.getElementById(imgObject.canvasName).getContext("2d");

			var drawPattern=function(img,x,y){
				var pattern=ctx.createPattern(img,'repeat');
				ctx.rect(0,0,x,y);
				ctx.fillStyle=pattern;
				ctx.fill();
			};
			var drawImage=function(img){
				img=scaleToParent(img,ctx.offsetWidth,ctx.offsetHeight);
				ctx.drawImage(img,(ctx.offsetWidth-img.width)/2,(ctx.offsetHeight-img.height)/2);
			};

			drawPattern(imgObject.texture,imgObject.object.width,imgObject.height.height);
			drawImage(imgObject.object);
		}
		function scaleToParent(img,x,y){
			for(var i=Math.max(img.width,img.height);i>=Math.max(x,y);i--){
				img.width-=1;
				img.height-=1;
			}
			return img;
		}
		function getImgObject(canvasName,textureUrl,objectUrl){
			var imgObject={};
			var texture=new Image();
			var obj= new Image();
			texture.src=textureUrl;
			obj.src=objectUrl;	
			function loadTexture(){
				texture.onload=function(){
					imgObject.texture=texture;
				}
			};
			function loadObject(){
				obj.onload=function(){
					imgObject.object=obj;
				}
			}
			imgObject.canvasName=canvasName;
			loadTexture();
			loadObject();
			return (imgObject);
		}

	</script>	
	<script type="text/javascript">
		window.addEventListener('resize',function(){
			var wrapper=document.getElementById('wrapper-canvas');
			var canvases=wrapper.getElementsByTagName('canvas');
			for(var i=0;i<canvases.length;i++){
				canvases[i].width=wrapper.offsetWidth;
				canvases[i].height=wrapper.offsetHeight;
			}
		});
		var furniture=getArrays('grumpy_lucy');
		createCanvas(furniture);
		var ImgObject=getImgObject(furniture.parent.name,furniture.textures[0].url,furniture.parent.url);
		var ctx=document.getElementById('grumpy_lucy').getContext('2d');
		drawObject(ImgObject);
	</script>
</html>
