<html>
	<head>
		<title>Tests</title>
	</head>
	<link rel="stylesheet" type="text/css" href="http://wilfredoivanhoe.github.io/nodetest/views/catalog-style.css">
	<body>
		<div id='container-catalog'>
			<div id='wrapper-menu'>
				<div id='wrapper-objects'>
					<h2>Objetos</h2>
					<ul id='objects'>
						<li>
							<a href="#" id='grumpy_lucy'>Grumpy lucy</a>
						</li>
					</ul>
				</div>

				<ul id='child-objects'>
					<li>

					</li>
				</ul>
				<ul>
					<li id='textures'>

					</li>
				</ul>
			</div>
			<div id='wrapper-canvas'>
				<canvas id='canvas'> </canvas>
			</div>
		</div>	
	</body>
	<script type="text/javascript">
		window.addEventListener('resize',function(){
			document.getElementById('canvas').width=document.getElementById('wrapper-canvas').offsetWidth;		
		})
		var arrayOfArrays=getArrays();
		drawOnCanvas();

	</script>
	<script type="text/javascript">
		function loadObjects(parentName){
			var objects=document.getElementById('objects');
			var childs=document.getElementById('child-objects');
			var textures=document.getElementById('textures');

			/**Database logic
			*
			*nwn
			*	
			**/

		}
		function createCanvas(){

		}
		function getArrays(parentName){
			/**Database logic
			*
			*kawaii
			*	
			**/
			var arrayOfArrays=[];
			//MODO TEMPORAL
			var parentArray={
				'img':[
					{'ObjectID':'1', 'name' :'grumpy_lucy', 'url' : './lucy_alpha.png' , 'z_index':0}
				],
				'storeData':[
					{'ObjectID':'ObjectID', 'name':'String', 'barcode' : 'String', 'price': 'float','description':'descripcion'}
				]
			};
			arrayOfArrays[2]={};
			var childArray={};
			var texturesArray={				
				'img':[
					{'ObjectID':'ObjectID', 'name' : 'mota', 'url': './mota.jpg', 'parent' : 'grumpy_lucy'}
				]
			};
			switch(parentName){
				case 'grumpy_lucy':
					arrayOfArrays[0]=
					return arrayOfArrays;
					break;
			}
		}
		function drawObject(object){
			var img=new Image();
			img.src=imgArray.img[end].link;
			img.onload=function(){
				ctx.drawImage(img,0,0);
				console.log("Drew img: "+imgArray.img[end].link);
				end++;
				drawImage(imgArray,ctx,end);
			};
		}
		function scaleParent(img,x,y){
			for(var i=Math.max(img.width,img.height);i>=Math.max(1,2)){
				img.width-=1;
				img.height-=1;
			}
		}

	</script>	
</html>
