@charset 'utf-8'
#container-catalog{
	width: 100%;
	margin:20px;
}
#wrapper-menu{
	float: left;
	height: 80%;
	width:20%;
	background-color: #FFBAE9;
}
#wrapper-canvas{
	float: right;
	height: 80%;
	width:80%;
	background-color: #A7C0CD;
	position:relative;
}
#wrapper-canvas > canvas{
	position:absolute;
}