doctype html
html
  head
    title= title
    link(href='https://673973083c4211eeb4a0ce14dd84ed041f4c65e2.googledrive.com/host/0B813TTfOkkZEVjN1TE5jSTlodUU', rel='stylesheet', type='text/css')
  body
    block content